@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

section{
    background-image: url('fondosolgaleo.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    --colorPulse1 : rgba(0, 0, 0, 0.85);
    --colorPulse2 : rgba(0, 0, 0, 0);
    --colorCard: rgba(255, 255, 255, 0.2);
    --colorTextoCard: #000;
    --sombraTexto: 2px 2px 5px rgb(17, 215, 250);
    --colorPanel:  rgba(255, 255, 255, 0.4);
    --sombraPanel: rgba(0, 0, 0, 1);
    --hoverCard: rgba(255, 255, 255, 0.5);
}


:root {
    --clr-black: #1c1c1c;
    --clr-gray: #ececec;
    --clr-white: #f7f7f7;

    --type-normal: #A8A878;
    --type-fire: #F08030;
    --type-water: #6890F0;
    --type-grass: #78C850;
    --type-electric: #F8D030;
    --type-ice: #98D8D8;
    --type-fighting: #C03028;
    --type-poison: #A040A0;
    --type-ground: #E0C068;
    --type-flying: #A890F0;
    --type-psychic: #F85888;
    --type-bug: #A8B820;
    --type-rock: #B8A038;
    --type-ghost: #705898;
    --type-dark: #705848;
    --type-dragon: #7038F8;
    --type-steel: #B8B8D0;
    --type-fairy: #F0B6BC;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--clr-black);
    font-family: 'Rubik', sans-serif;
}

ul {
    list-style-type: none;
}

button {
    background-color: transparent;
    border: 0;
    border-radius: 0;
}

/* Aquí todo el CSS extra */

body {
    min-height: 100vh;
}
.pokemon-divider {
    height: 20px;
    background: linear-gradient(to right, #FFCB05, #E82C2C, #5173F1, #49D0B0);
  }
.nav img{
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
header {
    padding-block: 1rem;
    box-shadow: 0 0 2rem -1rem rgba(0, 0, 0, .5);
    background-image: url('ultrasol.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;

}

.nav {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
    padding-inline: 2rem;
    max-width: 1000px;
    margin: 0 auto;
}

.nav-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: .5rem;
}

.btn-header {
    background-color: var(--clr-gray);
    padding: .5rem;
    border-radius: 100vmax;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 600;
    box-shadow: 0 0 1rem rgba(0, 0, 0, .25);
    transition: .2s;
}

.btn-header:hover {
    transform: scale(1.1);
    box-shadow: 0 0 2rem rgba(0, 0, 0, .25);
}

.btn-header:disabled{
    animation-name: titileo;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

  @keyframes titileo {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }
main {
    padding: 2rem;
    max-width: 1000px;
    margin: 0 auto;
}

.pokemon-todos {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

@media screen and (min-width: 470px) {
    .pokemon-todos {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 700px) {
    .pokemon-todos {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.pokemon {
    border-radius: 1rem;
    background-color: var(--clr-white);
    box-shadow: 0 0 3rem -1rem rgba(0, 0, 0, .25);
    padding-block: 1rem;
    text-transform: uppercase;
    position: relative;
    isolation: isolate;
    overflow: hidden;
    text-align: center;
    align-content: center;
}

.pokemon-id-back {
    position: absolute;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: 6rem;
    font-weight: 800;
    z-index: -1;
    color: var(--clr-gray);
}

.pokemon-imagen {
    padding-inline: 1rem;
    display: flex;
    justify-content: center;
}

.pokemon-imagen img {
    width: 100%;
    max-width: 6rem;
}

.pokemon-info {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding-inline: 1rem;
    align-items: center;
    text-align: center;
}

.nombre-contenedor {
    display: flex;
    align-items: center;
    column-gap: .5rem;
    flex-wrap: wrap;
    justify-content: center;
}

.pokemon-id {
    background-color: var(--clr-gray);
    padding: .25rem .5rem;
    border-radius: 100vmax;
    font-size: .75rem;
    font-weight: 500;
}

.pokemon-nombre {
    font-size: 1.4rem;
}

.pokemon-tipos {
    display: flex;
    gap: .5rem;
    font-size: .75rem;
    font-weight: 500;
    flex-wrap: wrap;
    justify-content: center;
}

.tipo {
    padding: .25rem .5rem;
    border-radius: 100vmax;
}

.pokemon-stats {
    display: flex;
    gap: 1rem;
    font-size: .85rem;
}

.stat {
    background-color: var(--clr-gray);
    padding: .25rem .5rem;
    border-radius: 100vmax;
}


#icon{
    width: 3rem;
}


select {
    font-family: 'Press Start 2P', cursive;
    font-size: 16px;
    padding: 5px;
    border: 2px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    color: #555;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    align-self: center;
  }
  
  /* Estilos para la flecha del select */
  select::-ms-expand {
    display: none;
  }
  
  select:before {
    content: "\25BC";
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    color: #555;
  }
  
  /* Estilos para las opciones del select */
  #regiones {
    background-color: #fff;
    color: #555;
  }
  
  #regiones:hover {
    background-color: #f2f2f2;
  }
  
  /* Estilos para las opciones seleccionadas del select */
  option:checked {
    background-color: #FFCB05;
    color: #000;
  }

.input {
    color: black;
    font: 1em/1.5 Hind, sans-serif;
  }
  
  form, .input, .caret {
    margin: auto;
  }
  
  form {
    position: relative;
    width: 100%;
    max-width: 17em;
  }
  
  .input, .caret {
    display: block;
    transition: all calc(1s * 0.5) linear;
  }
  
 

  .input {
    background: transparent;
    border-radius: 50%;
    box-shadow: 0 0 0 0.25em inset;
    caret-color: #255ff4;
    width: 2em;
    height: 2em;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  
  .input:focus, .input:valid {
    background: powderblue;
    border-radius: 0.25em;
    box-shadow: none;
    padding: 0.75em 1em;
    transition-duration: calc(1s * 0.25);
    transition-delay: calc(1s * 0.25);
    width: 100%;
    height: 3em;
  }
  
  .input:focus {
    animation: showCaret 1s steps(1);
    outline: transparent;
  }
  
  .input:focus + .caret, .input:valid + .caret {
    animation: handleToCaret 1s linear;
    background: transparent;
    width: 1px;
    height: 1.5em;
    transform: translate(0,-1em) rotate(-180deg) translate(7.5em,-0.25em);
  }
  
  .input::-webkit-search-decoration {
    -webkit-appearance: none;
  }
  
  label {
    color: #e3e4e8;
    overflow: hidden;
    position: absolute;
    width: 0;
    height: 0;
  }
  
  .caret {
    background: black;
    border-radius: 0 0 0.125em 0.125em;
    margin-bottom: -0.6em;
    width: 0.25em;
    height: 1em;
    transform: translate(0,-1em) rotate(-45deg) translate(0,0.875em);
    transform-origin: 50% 0;
  }
  
  /* Animations */
  @keyframes showCaret {
    from {
      caret-color: transparent;
    }
  
    to {
      caret-color: #255ff4;
    }
  }
  
  @keyframes handleToCaret {
    from {
      background: currentColor;
      width: 0.25em;
      height: 1em;
      transform: translate(0,-1em) rotate(-45deg) translate(0,0.875em);
    }
  
    25% {
      background: currentColor;
      width: 0.25em;
      height: 1em;
      transform: translate(0,-1em) rotate(-180deg) translate(0,0.875em);
    }
  
    50%, 62.5% {
      background: #255ff4;
      width: 1px;
      height: 1.5em;
      transform: translate(0,-1em) rotate(-180deg) translate(7.5em,2.5em);
    }
  
    75%, 99% {
      background: #255ff4;
      width: 1px;
      height: 1.5em;
      transform: translate(0,-1em) rotate(-180deg) translate(7.5em,-0.25em);
    }
  
    87.5% {
      background: #255ff4;
      width: 1px;
      height: 1.5em;
      transform: translate(0,-1em) rotate(-180deg) translate(7.5em,0.125em);
    }
  
    to {
      background: transparent;
      width: 1px;
      height: 1.5em;
      transform: translate(0,-1em) rotate(-180deg) translate(7.5em,-0.25em);
    }
  }


  .container-intercambio{
    position: fixed;
    bottom: 15px;
    left: 15px;
}

.container-intercambio .panel{
    position: absolute;
    background-color: var(--colorPanel);
    transition: .3s all;
    box-shadow: 1px 1px 5px var(--sombraPanel);
    width: 90px;
    height: 180px;
    border-radius: 15px;
    transform: translateY(-100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    display: none;
}

.container-intercambio .panel.active{
    display: flex;
}

.container-intercambio .panel .oscuro{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid #fff;
    background-color: black;
    transition: .3 all;
}

.container-intercambio .panel .claro{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid #fff;
    background-color: yellow;
    transition: .3 all;
}


.container-intercambio .intercambio{
    cursor: pointer;
    border-radius: 50%;
    width: 70px;
    filter: sepia(50%);
    transition: .4s ease;
    animation: pulse 1.5s infinite;
    margin-left: 10px;
    margin-top: 20px;
}

.container-intercambio .intercambio:hover{
    filter: sepia(0);
    transition: .4s ease;
}

@keyframes pulse{
    0%{
        box-shadow: 0 0 0 0 var(--colorPulse1);
    }
    50%{
        box-shadow: 0 0 0 25px var(--colorPulse2);
    }
    100%{
        box-shadow: 0 0 0 0 var(--colorPulse2);
    }
}

@media (min-width: 1000px){
    .container-card{
        display: flex;
    }
    .card{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
}

@media (max-width: 650px){
    .modal-content {
      background-color: #fefefe;
      margin: 15% auto;
      padding: 20px;
      border: 1px solid #888;
      width: 80%;
      max-width: 600px;
      position: relative;
      top: 12rem;
      }
    .barra{
        width: 18rem;
      }
}

@media (min-width: 680px){
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    position: relative;
    top: 4rem;
    }
    .barra{
      width: 25rem;
    }
}

.modal {
  display: none;
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; 
  background-color: rgba(0,0,0,0.5); 
  }
  
  .modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;
  position: relative;
  }
  
  .imagen-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .image-wrapper {
    position: relative;
  }
  
  .image-wrapper img {
    max-width: 100%;
    height: auto;
  }
  
  .image-text {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fffb00;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    text-shadow: 2px 2px #0f37ff;
  }

  .bar-container {
    display: flex;
    justify-content: center;
  }
  
  .contenedor{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .barra{
   
    height: 20px;
    background-color: rgb(187, 0, 0);
    border-radius: 10px;
  }

  .progreso{
    width: var(--w);
    height: 100%;
    background-color: rgb(255, 132, 132);
    border-radius: 10px;
  }

  @keyframes Aumentar{
    0%{width: 0%;}
    100%{width: var(--w);}
  }

  .barra:hover .progreso{
    animation: Aumentar 1s ease;
  }
  
  .imagen {
    width: 200px;
    margin: 10px;
  }
  
  .texto-container {
    text-align: center;
  }
  .close {
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: 28px;
  font-weight: bold;
  color: #888;
  }
  
  .close:hover,
  .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  }

  .center-on-page {
    position: absolute;
    top: 20%;
    left: 50%;
    
    transform: translate(-50%,-50%);
  }
  /* Poké Styles */
  .pokeball {
    position: relative;
    width: 200px;
    height: 200px;
    background: #fff;
    border: 10px solid #000;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: inset -10px 10px 0 10px #ccc;
    animation: fall .25s ease-in-out,
               shake 1.25s cubic-bezier(.36,.07,.19,.97) 3;
  }
  .pokeball::before,
  .pokeball::after {
    content:"";
    position: absolute;
  }
  .pokeball::before {
    background: red;
    width: 100%;
    height: 50%;
  }
  .pokeball::after {
    top: calc(50% - 10px);
    width: 100%;
    height: 20px;
    background: #000;
  }
  .pokeball__button {
    position: absolute;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    width: 60px;
    height: 60px;
    background: #7f8c8d;
    border: 10px solid #fff;
    border-radius: 50%;
    z-index: 10;
    box-shadow: 0 0 0 10px black;
    animation: blink .5s alternate 7;
  }
  /* Animation */
  @keyframes blink {
    from { background: #eee;}
    to { background: #e74c3c; }
  }
  @keyframes shake {
    0% { transform: translate(0, 0) rotate(0); }
    20% { transform: translate(-10px, 0) rotate(-20deg); }
    30% { transform: translate(10px, 0) rotate(20deg); }
    50% { transform: translate(-10px, 0) rotate(-10deg); }
    60% { transform: translate(10px, 0) rotate(10deg); }
    100% { transform: translate(0, 0) rotate(0); }
  }
  @keyframes fall {
    0% { top: -200px }
    60% { top: 0 }
    80% { top: -20px }
    100% { top: 0 }
  }


/* Aquí comienzan los colores de botones según tipo */
.normal {
    background-color: var(--type-normal);
    color: var(--clr-black);
}

.fire {
    background-color: var(--type-fire);
    color: var(--clr-black);
}

.water {
    background-color: var(--type-water);
    color: var(--clr-white);
}

.grass {
    background-color: var(--type-grass);
    color: var(--clr-black);
}

.electric {
    background-color: var(--type-electric);
    color: var(--clr-black);
}

.ice {
    background-color: var(--type-ice);
    color: var(--clr-black);
}

.fighting {
    background-color: var(--type-fighting);
    color: var(--clr-white);
}

.poison {
    background-color: var(--type-poison);
    color: var(--clr-white);
}

.ground {
    background-color: var(--type-ground);
    color: var(--clr-black);
}

.flying {
    background-color: var(--type-flying);
    color: var(--clr-black);
}

.psychic {
    background-color: var(--type-psychic);
    color: var(--clr-black);
}

.bug {
    background-color: var(--type-bug);
    color: var(--clr-black);
}

.rock {
    background-color: var(--type-rock);
    color: var(--clr-black);
}

.ghost {
    background-color: var(--type-ghost);
    color: var(--clr-white);
}

.dark {
    background-color: var(--type-dark);
    color: var(--clr-white);
}

.dragon {
    background-color: var(--type-dragon);
    color: var(--clr-white);
}

.steel {
    background-color: var(--type-steel);
    color: var(--clr-black);
}

.fairy {
    background-color: var(--type-fairy);
    color: var(--clr-black);
}
